/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Oo]bj/
/[Mm]emoryCaptures/
/[Uu]serSettings/
/[Aa]ssets/AssetStoreTools*
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.svd
*.tmp
.DS_Store
Thumbs.db
